<div class="cover">
    <div class="pop-up center">
      <div style="float:right" ng-click="LoginCtrl.close()">X</div>
      <toggle 
        ctrl="LoginCtrl" 
        left="LoginCtrl.loginView.title"
        right="LoginCtrl.registerView.title">
      </toggle>
        <h4 
            class="success label" 
            ng-if="LoginCtrl.registerView.success">
          {{LoginCtrl.registerView.message}}
      </h4>
        <form class="loginForm" ng-submit="LoginCtrl.submit(LoginCtrl.user)">
          <div ng-if="!LoginCtrl.bool">
          <label for="email">Email</label>
          <input
                 id="email"
                 type="email" 
                 ng-model="LoginCtrl.user.email"
                 value="me@gmail.com">
          </div>
          <div>
          <label for="username">Username</label>
          <input type="text" 
                 id="username"
                 ng-model="LoginCtrl.user.id"
                 value="test">
          </div>
          <div>
           <label for="password">Password</label>
          <input type="password"
                 id="password"
                 ng-model="LoginCtrl.user.password"
                 value="pie"></div>    
        <input type="submit" value="{{LoginCtrl.btn.message}}" class="btn bordered center">
        </form>
</div>