<div class="cover">
    <div class="pop-up center">
      <div style="float:right" ng-click="LoginCtrl.close()">X</div>
      <toggle 
        ctrl="LoginCtrl" 
        left="LoginCtrl.login.title"
        right="LoginCtrl.register.title">
      </toggle>
        <form class="loginForm">
          <div ng-if="!LoginCtrl.bool">
          <label for="email">Email</label>
          <input
                 id="email"
                 type="email" 
                 ng-model="LoginCtrl.user.email">
          </div>
          <div>
          <label for="username">Username</label>
          <input type="text" 
                 id="username"
                 ng-model="LoginCtrl.user.id">
          </div>
          <div>
           <label for="password">Password</label>
          <input type="password"
                 id="password"
                 ng-model="LoginCtrl.user.password"></div>    
        <button type="submit" ng-click="LoginCtrl.submit()" class="btn bordered center">{{LoginCtrl.btn.message}}</button>
        </form>
</div>