.spaced {
  margin-left: 1.5%;
  margin-right: 2.5%;
}

.bordered {
  border-top-right-radius: 0.5em;
  border: 1px solid black;
}

.disabled {
  background-color: grey;
  a {
    color: darkgray;
  }
}

.active {
  background-color: lightblue;
}
.center {
  text-align: center;
}
.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(100,100,100, 0.5);
}

.toggle-switch {
  div { 
    display: inline-block;
    border: 1px solid black;
    padding: 0.5em;
  }
  .right {
      border-top-right-radius: 15em;
      border-bottom-right-radius: 15em;
    }
    .left {
      border-top-left-radius: 15em;
      border-bottom-left-radius: 15em;
    }
}
.pop-up {
  display: block;
  background: white;
  margin: 8em auto;
  padding: 1em;
  text-align: left;
  z-index: 100;
  width: 15em;
  border-radius: 0.5em;
  box-shadow: 0em 0em 5em rgba(0,0,0,0.2);
}


